@keyframes slide-in-left{
    from{transform:translateX(-100%)}
    to{transform:translateX(0%)}
}

html,body{
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* .title{
    width: 100%;
    padding: 0.7em;
    font-size: large;
} */

.major-function{
    position: absolute;
    left:0;
    top:0;
    /* margin-top: 55px; */
    width: 100%;
    min-height:100%;
    background-color: #FEFEFF;
}

#action-bar{
    
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    height: 55px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 15px;
    background-color: #FEFEFF;
}
#action-bar .title{
    flex-grow: 1;
    font-weight: bold;
    color: #FF4351;
    font-size: 17px;
}
#action-bar .btn{
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 17px;
    color: #1b9af7;
}

#major-functions{
    flex-grow: 1;

    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    box-sizing: border-box;
}

.title-bar{
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;
    padding: 10px 21px 20px;

}

.title-bar .title-main{
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: normal;
}

#tool-bar{
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;

    width: 100%;
    height: 45px;
    background-color: #fff;
    border-top: 1px #ccc solid;
}

#tool-bar .btn{
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
}

#tool-bar .btn img{
    width: 20px;
    height: 20px;
}


