#list-passwordBooks{
    margin: 0;
    padding: 0 16px;
    list-style: none;
}

#list-passwordBooks>li{
    margin-bottom: 12px;
}

#list-passwordBooks .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
    padding: 0px 5px;
}

#list-passwordBooks .header .name{
    margin:0;
    font-size: 17px;
    font-weight: normal;
}

#list-passwordBooks .content{
    box-sizing:border-box;
    position: relative;
    width: 100%;    
    /* min-height: 117px; */
    border-radius: 8px;
    border: 1px solid #ddd;
    overflow: hidden;
    background-color: #fefeff;
    transition: height 0.3s;
}

#list-passwordBooks .content .overlap{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

#list-passwordBooks .content .icon-bg{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fefeff;
}

#list-passwordBooks .content .icon-bg .icon{
    width: 30px;
    height: 30px;
}

.pages_brief{
    list-style:none;
    padding: 10px 8px;
    width: 100%;
    box-sizing: border-box;
}

.pages_brief li{
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
}

.pages_brief li:last-child{
    border-bottom: none;
}

.pages_brief li>.name{
    max-width: 30%;
}
.pages_brief li>.primary-info{
    max-width: 70%;
}
