@keyframes slide-in-left{
    from{transform: translateX(-100%)}
    to{transform: translateX(0%)}
}

@keyframes slide-out-left{
    from{transform: translateX(0%)}
    to{transform: translateX(-100%)}
}

@keyframes slide-in-right{
    from{transform: translateX(100%)}
    to{transform: translateX(0%)}
}

@keyframes slide-out-right{
    from{transform: translateX(0%)}
    to{transform: translateX(100%)}
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.slide-leftIn-enter-active, .slide-leftIn-leave-active{
    transition: transform 0.3s ease-out;
}

.slide-leftIn-enter{
    transform: translateX(-100%);
}

.slide-leftIn-enter-to, .slide-leftIn-leave{
    transform: translateX(0%);
}

.slide-leftIn-leave-to{
    transform: translateX(100%);
}



.slide-rightIn-enter-active, .slide-rightIn-leave-active{
    transition: transform 0.3s ease-in;
}

.slide-rightIn-enter{
    transform: translateX(100%);
}

.slide-rightIn-enter-to, .slide-rightIn-leave{
    transform: translateX(0%);
}

.slide-rightIn-leave-to{
    transform: translateX(-100%);
}

@keyframes slide-in-left{
    from{transform:translateX(-100%)}
    to{transform:translateX(0%)}
}

html,body{
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* .title{
    width: 100%;
    padding: 0.7em;
    font-size: large;
} */

.major-function{
    position: absolute;
    left:0;
    top:0;
    /* margin-top: 55px; */
    width: 100%;
    min-height:100%;
    background-color: #FEFEFF;
}

#action-bar{
    
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    height: 55px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 15px;
    background-color: #FEFEFF;
}
#action-bar .title{
    flex-grow: 1;
    font-weight: bold;
    color: #FF4351;
    font-size: 17px;
}
#action-bar .btn{
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 17px;
    color: #1b9af7;
}

#major-functions{
    flex-grow: 1;

    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    box-sizing: border-box;
}

.title-bar{
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;
    padding: 10px 21px 20px;

}

.title-bar .title-main{
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: normal;
}

#tool-bar{
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;

    width: 100%;
    height: 45px;
    background-color: #fff;
    border-top: 1px #ccc solid;
}

#tool-bar .btn{
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
}

#tool-bar .btn img{
    width: 20px;
    height: 20px;
}



.input-group{
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 27px;
}

.input-group label{
    display: block;
    margin-left: 2px;
    font-size: 14px;
}

.input-group>.input-wrapper{
    box-sizing: border-box;
    margin:6px 2px 0px;
}

.input-group input[type="text"]{
    outline: none;
    border: none;
    width: 100%;    
    border-bottom: 1px solid #ccc;
    padding: 8px 0px;
    font-size: 18px;
}

.input-group input[type="text"]:focus{
    border-bottom: 2px solid #1b9af7;

}
.input-group .btn-block{
    outline: none;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 44px;
    font-size: 17px;
    background-color: #1B9AF7;

    color: #fff;
}
#list-passwordBooks{
    margin: 0;
    padding: 0 16px;
    list-style: none;
}

#list-passwordBooks li{
    margin-bottom: 12px;
}

#list-passwordBooks .name{
    margin:0;
    margin-bottom:9px;
    padding-left: 5px;
    font-size: 17px;
    font-weight: normal;
}

#list-passwordBooks .content{
    box-sizing:border-box;
    width: 100%;
    background-color: #fefeff;
}

#list-passwordBooks .content .overlap{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    width: 100%;
    height: 117px;
    background-color: #ededed;
}

#list-passwordBooks .content .icon-bg{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fefeff;
}

#list-passwordBooks .content .icon-bg .icon{
    width: 30px;
    height: 30px;
}