@keyframes slide-in-left{
    from{transform: translateX(-100%)}
    to{transform: translateX(0%)}
}

@keyframes slide-out-left{
    from{transform: translateX(0%)}
    to{transform: translateX(-100%)}
}

@keyframes slide-in-right{
    from{transform: translateX(100%)}
    to{transform: translateX(0%)}
}

@keyframes slide-out-right{
    from{transform: translateX(0%)}
    to{transform: translateX(100%)}
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}


.fade-swap-enter-active, .fade-swap-leave-active {
    position: absolute;
    transition: opacity 0.3s;
}
.fade-swap-enter, .fade-swap-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.slide-leftIn-enter-active, .slide-leftIn-leave-active{
    transition: transform 0.3s ease-out;
}

.slide-leftIn-enter{
    transform: translateX(-100%);
}

.slide-leftIn-enter-to, .slide-leftIn-leave{
    transform: translateX(0%);
}

.slide-leftIn-leave-to{
    transform: translateX(100%);
}



.slide-rightIn-enter-active, .slide-rightIn-leave-active{
    transition: transform 0.3s ease-in;
}

.slide-rightIn-enter{
    transform: translateX(100%);
}

.slide-rightIn-enter-to, .slide-rightIn-leave{
    transform: translateX(0%);
}

.slide-rightIn-leave-to{
    transform: translateX(-100%);
}


.dropdown>input[type="text"]{
    outline: none;
    border: none;
    width: 100%;    
    /* border-bottom: 1px solid #ccc; */
    padding: 8px 0px;
    font-size: 18px;
}

.dropdown>input[type="text"]:focus{
    /* border-bottom: 2px solid #1b9af7; */

}

.dropdown .caret{
    position: absolute;
    top: 14px;
    right: 6px;
    display: block;
    border-top: 10px solid #444;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 0;
}


.dropdown .options-wrapper{
    position: absolute;
    right: 0;
    z-index: 10;
    margin-top: 6px;
    /* border: 1px solid #aaa; */
    border-radius: 5px;
    min-width: 120px;
    max-width: 100%;
    background-color: #fefeff;
    padding:5px 0px;
    box-shadow: 1px 1px 3px #aaa;
}

.dropdown .options-wrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


.dropdown .options-wrapper ul li{
    padding: 0.25em 1.5em;
}

.dropdown .options-wrapper ul li:hover{
    background-color: #ededed;
}

.dropdown .options-wrapper ul li.selected{
    color: #1b9af7;
}
/* 
.dropdown .options-wrapper ul li.selected::before{
    content: '>';
    color: #1b9af7;
} */
@keyframes slide-in-left{
    from{transform:translateX(-100%)}
    to{transform:translateX(0%)}
}

html,body{
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* .title{
    width: 100%;
    padding: 0.7em;
    font-size: large;
} */

.major-function{
    position: absolute;
    left:0;
    top:0;
    /* margin-top: 55px; */
    width: 100%;
    min-height:100%;
    background-color: #FEFEFF;
}

#action-bar{
    
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    height: 55px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 15px;
    background-color: #FEFEFF;
}
#action-bar .title{
    flex-grow: 1;
    font-weight: bold;
    color: #FF4351;
    font-size: 17px;
}
#action-bar .btn{
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 17px;
    color: #1b9af7;
}

#major-functions{
    flex-grow: 1;

    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    box-sizing: border-box;
}

.title-bar{
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;
    padding: 10px 21px 20px;

}

.title-bar .title-main{
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: normal;
}

#tool-bar{
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;

    width: 100%;
    height: 45px;
    background-color: #fff;
    border-top: 1px #ccc solid;
}

#tool-bar .btn{
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
}

#tool-bar .btn img{
    width: 20px;
    height: 20px;
}



#newPasswordBook>div{
    width: 100%;
}

.input-group{
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 27px;
}

.input-group label{
    display: block;
    margin-left: 2px;
    font-size: 14px;
}

.input-group>.input-wrapper{
    box-sizing: border-box;
    margin:6px 2px 0px;
    position: relative;
}

.input-wrapper input[type="text"]{
    outline: none;
    border: none;
    
    width: 100%;    
    padding: 8px 0px;
    font-size: 18px;
}
.input-wrapper.with-error input[type="text"]{
    border-bottom: 1px solid red;
}

.input-wrapper .msg-err{
    display: none;
    margin-top: 3px;
    font-size: 11px;
    color:red;
}

.input-wrapper.with-error .msg-err{
    display: block;
}

.input-wrapper .caret{
    position: absolute;
    top: 15px;
    right: 6px;
    display: block;
    border-top: 10px solid #444;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 0;
}

.input-group .btn-block{
    outline: none;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 44px;
    font-size: 17px;
    background-color: #1B9AF7;

    color: #fff;
}

.input-group a.btn-block{
    display:block;
    text-decoration: none;
    text-align: center;
    line-height: 44px;
}

.QRcode-wrapper{
    margin-left: 26px;
    margin-right: 26px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius:10px;
    margin-bottom: 16px;
}

.QRcode-wrapper img{
    width: 100%;
    height: 100%;
}

.QRcode-wrapper .indicate{
    margin-top: -16px;
    text-align: center;
    font-weight: bold;
}


.warning-msg{
    margin:0px 26px 16px;
    padding: 12px;
    border: 1px solid red;
    border-radius: 10px;
}

.warning-msg h4{
    margin: 0;
    font-size: 17px;
    text-align: center;
    color: red;
}

.warning-msg p{
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 11px;
    text-align: center;
    color: red;
}

.btn-block.btn-cancel{
    margin-top: 14px;
    background-color: #fefeff;
    border: 1px solid #1B9AF7;
    color: #1B9AF7;
}
#list-passwordBooks{
    margin: 0;
    padding: 0 16px;
    list-style: none;
}

#list-passwordBooks li{
    margin-bottom: 12px;
}

#list-passwordBooks .name{
    margin:0;
    margin-bottom:9px;
    padding-left: 5px;
    font-size: 17px;
    font-weight: normal;
}

#list-passwordBooks .content{
    box-sizing:border-box;
    width: 100%;
    background-color: #fefeff;
}

#list-passwordBooks .content .overlap{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    width: 100%;
    height: 117px;
    background-color: #ededed;
}

#list-passwordBooks .content .icon-bg{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fefeff;
}

#list-passwordBooks .content .icon-bg .icon{
    width: 30px;
    height: 30px;
}

.QRreader-mask{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.QRreader-mask video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
}

.content-center{
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}

.QRreader-mask .aperture{
    position: relative;
    overflow: hidden;
    border: 2px solid white;
}

.QRreader-mask .aperture .vertex{
    position: absolute;
    width: 10%;
    height: 10%;
}

.QRreader-mask .aperture .vertex.left-top{
    left: 0;
    top: 0;
    border-left: 4px solid white;
    border-top: 4px solid white;
}

.QRreader-mask .aperture .vertex.right-top{
    right: 0;
    top: 0;
    border-right: 4px solid white;
    border-top: 4px solid white;
}

.QRreader-mask .aperture .vertex.left-bottom{
    left: 0;
    bottom: 0;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}

.QRreader-mask .aperture .vertex.right-bottom{
    right: 0;
    bottom: 0;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.QRreader-mask .aperture .scan-line{
    position: absolute;
    left: 0;
    margin: 0;
    width: 100%;
    height: 10%;
    animation: scan 1s ease-in-out infinite;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1))); 
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); 
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); 
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); 
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); 
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=rgba(255, 255, 255, 0), endColorStr=rgba(255, 255, 255, 1));
}

.QRreader-mask .tips{
    margin-top: 0.5em;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: smaller;
}

.QRreader-mask .btn{
    position: absolute;
    margin: 0;
    outline: none;
    border: none;
    padding: 1em;
    background: transparent;
    color: white;
    line-height: 1.0;
}

.QRreader-mask .btn-cancel{
    left: 0;
    top: 0;
    font-size: large;
}

.QRreader-mask .btn-switch{
    left: 0;
    bottom: 0;
    font-size: large;
}

.QRreader-mask .btn-album{
    right: 0;
    bottom: 0;
    font-size: large;
}

@keyframes scan{
    from{top:-10%;}
    to{top:90%;}
}

#QRreader-file-input{
    width: 0;
    height: 0;
    outline: none;
}