$icon-font-path: '~open-iconic/font/fonts/';
@import "~open-iconic/font/css/open-iconic-bootstrap";
@import "customVariable";
@import "~bootstrap/scss/bootstrap";

#modalDialog .modal-body{
  .message{
    margin-bottom: 1em;
  }
  .row.action-btns{
    margin-top: 1em;
  }

  button.btn{
    border: none;
  }
}
.input-group{
  .input-group-btn{
    button.btn, a.btn{
      background-clip: border-box !important;
    }
  }
}
button.btn-badge{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  padding: 0px;
  line-height: 1;
  text-align: center;
  font-size: 75%;
  outline: none;
}
button.btn-float{
  position: fixed;
  bottom: 3em;
  right: 2em;
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

span.tag{
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  vertical-align: text-bottom;
  white-space: nowrap;  
  font-size: 75%;

  &.tag-sm{
    width: 16px;
    height: 16px;
  }
}
.et-wrapper.et-custom{
  background-color: rgba(0,0,0,0.5);
  border-radius: 22px;
}